<footer>
  <p>
    &copy;
    {% assign current_year = site.time | date: "%Y" | plus: 0 %}
    {% if site.initial_publication != current_year %}
    {{ site.initial_publication }} -
    {% endif %}
    {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.
  </p>
  <ul>
    {% for link in site.footer_links %}
    <li><a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
</footer>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "06010d360d3845239069cf78a5494da7"}'></script><!-- End Cloudflare Web Analytics -->