<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}

  <main>
    <section class="intro" id="intro">
      <h2>{{ page.title }}</h2>
      <p>{{ page.description }}</p>
      {% assign category = "" %}
      {% for entry in site.nav_entries %}
        {% if entry.name == page.title %}
          {% assign category = entry %}
        {% endif %}
      {% endfor %}
      {% if category != "" %}
            <ul>
              {% for subentry in category.subentries %}
                <li><a href="{{ subentry.url }}">{{ subentry.name }}</a></li>
              {% endfor %}
            </ul>
        {% else %}
          No files found for this category.
        {% endif %}
    </section>
  </main>

{% include footer.html %}
</body>

</html>